.course-container {
    border: solid;
    height: 110px;
    margin-bottom: 5px;
}

.course-header {
    width: 70%;
}

.course-header > span {
    position: relative;
    float: right;
}

.description {
    width: 80%;
}

.course-container .buttons {
    text-align: right;
    top: -50px;
    position: relative;
}