<login *ngIf="!isAuthenticated"></login>
<div *ngIf="isAuthenticated" class="content">
  <div class="toolbox">
    <form (ngSubmit)="findCourse(valueToFind)" autocomplete="off">

      <input
              [value]="valueToFind"
              (input)="valueToFind = $event.target.value"
              placeholder=""
              autofocus>

      <button>Find</button>
    </form>
    <button class="add-course">Add</button>
  </div>
  <course *ngFor="let course of courses" [course]="course" (onDelete)="onDelete($event)"></course>
</div>
